<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="Exam70_536.CustomDataProvider" />
    <add key="WriteTraceDebug" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="ComeGetSome" connectionString="ShakeItBaby" providerName="Exam70_536.CustomDataProvider"/>
  </connectionStrings>
</configuration>